

<section class="heading">
	<div id="heading-content">
		<h1>The Best and most trusted platform </h1>
		<h3>to win games and much more!</h3>
		<h3>Earn Coins Now</h3>
		<a href="/earncoins" class="btn btn-success">Earn Coins</a>

	</div>
</section>




<link rel="stylesheet" href="/stylesheets/index.css"> 