
 .games{
	background-color: #cd5858;
}
.gadgets{
	background-color: #06d1fb;
}
 .gift-cards{
	background-color: #47ba74;
}
.category{
	
}

.category i {
	color:white;
}
.category:hover {
	background: red;
}
.col a:hover { 
    background-color:red;
   
}
.col a {
	text-decoration: none;
	color:white;
}
.fa-5{
	  font-size: 12em;
	  
}
