{{> earncoinsheader}}
{{#each missionsToDisplay}}
<p>{{this.title}}</p>
<form method="post" action="/earncoins/missions/{{this.id}}">
<button onClick="window.open('https://{{this.link}}')" class="btn btn-success">Go</button>
</form>
{{/each}}